@import "./reset.css";

/*----------------fonts*/
@font-face {
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes/TTLakes-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes/TTLakes-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes/TTLakes-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}




/*----------------default*/
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    background-color: #F8F8F8;
}
button{
    border: none;
    padding: 0;

    font: inherit;
    cursor: pointer;
    background-color: transparent;
    outline: 0 none transparent;
    width: fit-content;
    height: fit-content;
}
a,a:hover,a:active{
    text-decoration: none;
    color: inherit;
    outline: 0 none transparent;
}
p+p{
    margin-top: 1.2em;
}


/*----------------noRepeat*/


/*----------------blockWrapper*/

.blockWrapper{}


/*----------------headerText*/

.headerText{
    color: #7E7E82;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;

    background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
    box-shadow: inset 0 2px 0 -1px #D9FFF5;
    padding: 16px;
}


/*----------------viewer/swiper*/

.viewer{
    padding: 16px 16px 38px 16px;
}
.viewer:after{
    content: "";
    display: block;
    width: 24px;
    height: 88px;
    position: absolute;
    right: 0;
    top: 8px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    z-index: 1;
}
.viewer__contentList{}
.viewer__contentItem{
    width: fit-content;
}

.viewer__card{
    box-sizing: border-box;
    /*background-color: tomato;*/
    width: 240px;
    height: 72px;
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #EAEAEA;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}
.viewer__card:after{
    content: url("../img/openCardSvg.svg");
}
.viewer__cardLogo{
    max-width: 100%;
    max-height: 100%;
}
.viewer__card:focus{
    box-shadow: inset 0 0 0 2px #41F6D7;
}

.viewer__pagination{
    position: static;
    margin-top: 16px;
    --swiper-pagination-bullet-inactive-color: #DDDDDD;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-theme-color: #B5B6BC;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.viewer__openBtn{
    color: #1B1C21;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;

    margin-top: 24px;

    display: flex;
    gap: 9px;
    padding-right: 16px;
    border-radius: 4px;
}
.viewer__openBtn:before{
    content: url("../img/openContentSvg.svg");
    width: 24px;
    height: 24px;
}
.viewer__openBtn:focus{
    box-shadow: 0 0 0 2px #41F6D7;
}
.blockWrapper--isOpen .viewer__openBtn:before{
    transform: rotate(180deg);
}


/*----------------media*/

@media (max-width: 767px){
    .smDisabled{
        display: none;
    }
    .viewer__openBtn{
        display: none;
    }
}

@media (min-width: 768px){
    .mdDisabled{
        display: none;
    }
    .blockWrapper{}
    .headerText{
        padding: 16px 24px;
    }
    .viewer{
        padding: 24px 24px 34px 24px;
    }
    .viewer__contentList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 16px 24px;

        box-sizing: border-box;
        max-height: 160px;
        overflow: hidden;
    }
    .viewer__contentItem{
        width: auto;
    }
    .viewer__card{
        width: 100%;
    }
    .blockWrapper--isOpen .viewer__contentList{
        max-height: fit-content;
    }
}

@media (min-width: 992px){
    .lgDisabled{
        display: none;
    }
    .headerText{
        padding: 16px 32px;
    }
    .viewer{
        padding: 24px 32px 34px 32px;
    }
    .viewer__contentList{
        gap: 16px 32px;
    }
    .viewer__contentItem{}
}